apiVersion: infra.iohub.me/v1
kind: App
metadata:
  name: app-sample
spec:
  name: app-sample
  image: nginx
  unit: red
  tag: "1.19"
  replicas: 1
  health: /
  path: /
  domain: "test.iohub.me,test.oriente.com"
  memoryReq: 100Mi
  memoryLimit: 200Mi
  initialDelaySeconds: 10
  preStop: "http://www.163.com"
  metrics: /metrics
  ports:
    - name: web
      servicePort: 80
      containerPort: 80
      protocol: TCP
    - name: metrics
      servicePort: 80
      containerPort: 80
      protocol: TCP
